<repeat group="{{ @list }}" value="{{ @item }}">

  <check if="{{ @item.id == @idtopass}}">
    <true>
      <div class="row certlist active" onclick="location.href='{{@BASE}}/certificates/fill/{{ @item.id }}';" style="cursor:pointer;">
    </true>
    <false>
      <div class="row certlist" onclick="location.href='{{@BASE}}/certificates/fill/{{ @item.id }}';" style="cursor:pointer;">
    </false>
  </check>

  <div class="col-md-1">
    #{{ @item.id }}
  </div>
  <div class="col-md-6">
    <b>{{ @item.ident }}</b>
    <br> {{ @item.title }}
  </div>
  <div class="col-md-1">
    {{ @item.lang }}
  </div>
  <div class="col-md-2">
    {{@item.gclabel? 'GC <span class="glyphicon glyphicon-ok"></span>':''}}
  </div>
  <div class="col-md-2" style="text-align:right">
    <h4><span class="glyphicon glyphicon-play"></span></h4>
  </div>

  </div>

</repeat>
