/*
 * Base structure
 */




/* Move down content because we have a fixed navbar that is 50px tall */

body {
    padding-top: 50px;
}
a {
    color: #3D4F5D;
}

/*
 * Global add-ons
 */

 


.table-striped tbody tr:hover{
  background: #838C91;
  color:#fff;
}

.ajaxsearch{font-size: 11px; color:#848A91;}
.ajaxsearchdiv{border-bottom:1px solid #ccc;}
 /* formstyle input forms */

#withCustomerLogo{visibility: hidden; pointer-events:none; }
#withCustomerLogo:hover{ pointer-events:none; }

 .form2fill ::-webkit-input-placeholder {
    color: red;
 }

 .form2fill  :-moz-placeholder { /* Firefox 18- */
    color: red;
 }

 .form2fill  ::-moz-placeholder {  /* Firefox 19+ */
    color: red;
 }

 .form2fill  :-ms-input-placeholder {
    color: red;
 }

/*
*/

.alignright {
  text-align: right;
}


.addbutton {
    text-align: right;
}
.navbar-brand {
    float: left;
    height: 60px;
    padding: 10px;
    font-size: 18px;
    line-height: 40px;
}
.navbar-inverse {
    /*background: #122B3C;*/
}
.appimg {
    min-height: 100px;
}
.btn-sm, .btn {
    border-radius: 0;
    color: #3D4F5D;
}
.btn-success, .btn-danger, .btn-warning, .btn-primary, .btn-info {
    color: #fff;
}
.loginprompt {
    background: #3D4F5D;
    padding: 1.5em;
    height: 100%;
    color: #fff;
}
.bg-fail {
    background: #d9534f;
    padding: 1em;
}
.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */

.navbar-right > li > a {
    height: 70px;
}
.navbar-fixed-top {
    border: 0px;
}
.navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #3D4F5D !important;
    background: #fff !important;
}
.navbar-nav > .logout > a, .navbar-nav > .logout > a:hover, .navbar-nav > .logout > a:focus {
    color: #fff !important;
    background: #d9534f !important;
    margin-left: 50px;
}

/*
 * Sidebar
 */

h1 span.glyphicon{
  background:#75848F;
  border-radius:60px;
  color:#fff;
  padding:30px;
}

h2 span.glyphicon{

  background:#75848F;
  border-radius:60px;
  color:#fff;
  padding:10px;
}

 .row.certlist{
   background-color: #253542;
   margin-right: 0px;
   margin-top:2px;
   padding:10px;
 }
 .row.certlist.active{
   background-color: #546674;
   margin-right: 0px;
   margin-top:2px;
   padding:10px;
 }
 .row .certlist:hover{
   background-color: #75848F;
   margin-right: 0px;
   margin-top:2px;
   padding:10px;
 }


.process-bar-1 {

    height: 100%;
    padding: 0px;

    background: #3D4F5D;
    overflow:scroll;

    color: #fff;

}

.success {

    height: 100%;
    width: 100%;

    margin-top:-50px;
    background: #3D4F5D;
    overflow: hidden;

    color: #fff;

}

.success .jumbotron, .success .jumbotron p{
  color:#333;
}


.vspacer{height:60px;}
@media (min-width: 990px) {
  .process-bar-1 {


      position:fixed;


  }
}
.livefilter{
  margin-top:20px;
  padding:20px;
}
.process-table {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;

}
.process-table table {
    margin-bottom: 0px;
    border-right:0px;
    border-left:0px;
}

.certpreview{
  margin:180px 15%;

}

.form2fill{
  padding:30px;
  border:#ddd dotted 1px;
}

.border1{margin:1px;}
.border2{margin:2px;}
.border5{margin:5px;}

div.alignright{text-align: right;}

button#copy{border-radius: 100px;padding:16px 10px;}

.certgen{}

.certcopybutton{padding-top:30%; text-align: center;}
.cert-infoheader{padding:10px;}
.cert-infoheader-img{ width:15%; max-width: 120px; display:block; float:left;}
.cert-infoheader-info{
  width:80%;  display:block; float:left;
  padding: 0px 10px;
}
.clear{clear:both;}
.fillform{    /*padding-top: 40px;*/
  margin-right: -15px;
  margin-left: -15px;}

/* Hide for mobile, show later */

.badge.primary{background-color:#337ab7;}
.badge.zero{ background-color: #d9534f;}
.badge.trending{ background-color: #5cb85c;}
.glyphicon.active{color:#5cb85c;}
.glyphicon.inactive{color:#d9534f;}


.badge.wronglanguage{ background-color: #d94f8f;}
.badge.wrongcertificate{ background-color: #d9544f;}

button.activate span{color:#fff;}

table.generalinfo{
  background-color: #dfe1e1;

}

p.hint{font-size:11px;

}
.sidebar {
    display: none;
}
@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 50px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto;
        /* Scrollable contents if viewport is shorter than content. */
        background-color: #3D4F5D;
    }
}

/* Sidebar navigation */

.nav-sidebar {
    /*margin-right: -21px;  20px padding + 1px border */
    margin-bottom: 20px;
    /*margin-left: -20px;*/
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
    color: #3D4F5D;
    background: #fff;
}
.nav-sidebar > li > a:hover, .nav-sidebar > li > a:focus {
    color: #3D4F5D;
    background: #fff;
}
.nav-sidebar > .active > a, .nav-sidebar > .active > a:hover, .nav-sidebar > .active > a:focus {
    color: #3D4F5D;
    background: #fff;
}
.nav-sidebar > .active > a > span, .nav-sidebar > .active > a:hover > span, .nav-sidebar > .active > a:focus > span {
    color: #3D4F5D !important;
}

/*
 * Main content
 */

.main {
    /*padding: 20px;*/
}
@media (min-width: 768px) {
    .main {
        /*  padding-right: 40px;
    padding-left: 40px;*/
    }
}
.main .page-header {
    margin-top: 0;
}
.main  h1 {
  padding-top: 40px;
padding-bottom: 20px;
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    display: inline-block;
    border-radius: 50%;
}
.tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.tt-hint {
    color: #999
}
.tt-menu {
    /* used to be tt-dropdown-menu in older versions */
    width: 422px;
    margin-top: 4px;
    padding: 4px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}
.tt-suggestion {
    padding: 3px 20px;
    line-height: 24px;
}
.tt-suggestion.tt-cursor, .tt-suggestion:hover , .tt-suggestion.tt-cursor p, .tt-suggestion:hover p {
    color: #fff;
    background-color: #0097cf;
}
.tt-suggestion p {
    margin: 0;
}


/*----------------------------
    The file upload form
-----------------------------*/
.uploadinfo{
  margin-top:20px;
  text-align:center;
}


#upload{


    /*font-family:'PT Sans Narrow', sans-serif;
    background-color:#373a3d;

    background-image:-webkit-linear-gradient(top, #373a3d, #313437);
    background-image:-moz-linear-gradient(top, #373a3d, #313437);
    background-image:linear-gradient(top, #373a3d, #313437);
*/

    padding:30px;
    border-radius:3px;

    margin:100px;

}

#drop{
    background-color: #eeeeee;
    padding: 40px 50px;
    margin-bottom: 30px;
    border: 2px dashed #999;
    border-radius: 3px;

    text-align: center;
    text-transform: uppercase;

    font-size:16px;
    font-weight:bold;
    color:#7f858a;
}

#drop a{
    background-color:#007a96;
    padding:12px 26px;
    color:#fff;
    font-size:14px;
    border-radius:2px;
    cursor:pointer;
    display:inline-block;
    margin-top:12px;
    line-height:1;
}

#drop a:hover{
    background-color:#0986a3;
}

#drop input{
    display:none;
}

#upload ul{
    list-style:none;
    margin:0 -30px;
    border-top:1px solid #2b2e31;
    border-bottom:1px solid #3d4043;
}

#upload ul li{
/*
    background-color:#333639;

    background-image:-webkit-linear-gradient(top, #333639, #303335);
    background-image:-moz-linear-gradient(top, #333639, #303335);
    background-image:linear-gradient(top, #333639, #303335);
*/
    border-top:1px solid #eee;
    border-bottom:1px solid #eee;
    padding:15px;
    height: 52px;
    margin-left: -40px;
    position: relative;
}

#upload ul li input{
    display: none;
}

#upload ul li p{
    width: 144px;
    overflow: hidden;
    white-space: nowrap;
    color: #999;
    font-size: 16px;

    position: absolute;
    top: 0px;
    left: 100px;
}

#upload ul li i{
    font-weight: normal;
    font-style:normal;
    color:#7f7f7f;
    display:block;
}

#upload ul li canvas{
    top: 2px;
    left: 32px;
    position: absolute;
    height:45px !important;
    width: 45px !important;
}

#upload ul li span{
    width: 15px;
    height: 12px;
    background: url('icons.png') no-repeat;
    position: absolute;
    top: 34px;
    right: 33px;
    cursor:pointer;
}

#upload ul li.working span{
    height: 16px;
    background-position: 0 -12px;
}

#upload ul li.error p{
    color:red;
}
