<check if="{{ isset(@POST.id) }}">
    <true>

    <div class="modal fade" id="uploadmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Logo Upload</h4>
          </div>

          <div class="modal-body">
            <form id="upload" method="post" action="{{@BASE}}/admin/templateupload/{{ isset(@POST.gclabel)?(@POST.gclabel):'0' }}/{{ isset(@POST.id)?(@POST.id):'' }}" enctype="form-data">
          				<div id="drop">
          					Drop Here

          					<a>Browse</a>
          					<input type="file" name="upl"  />
          				</div>

          				<ul>
          					<!-- The file uploads will be shown here -->
          				</ul>

          			</form>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>

          </div>
        </div>
      </div>
    </div>

    <!-- Dialog show event handler -->
    <script type="text/javascript">
      $('#uploadmodal').on('show.bs.modal', function(e) {

      });


      $(function(){

var ul = $('#upload ul');

$('#drop a').click(function(){
    // Simulate a click on the file input button
    // to show the file browser dialog
    $(this).parent().find('input').click();
});

// Initialize the jQuery File Upload plugin
$('#upload').fileupload({

    // This element will accept file drag/drop uploading
    dropZone: $('#drop'),

    // This function is called when a file is added to the queue;
    // either via the browse button, or via drag/drop:
    add: function (e, data) {

        var tpl = $('<li class="working"><input type="text" value="0" data-width="48" data-height="48"'+
            ' data-fgColor="#0788a5" data-readOnly="1" data-bgColor="#3e4043" /><p></p><span></span></li>');

        // Append the file name and file size
        tpl.find('p').text(data.files[0].name)
                     .append('<i>' + formatFileSize(data.files[0].size) + '</i>');

        // Add the HTML to the UL element
        data.context = tpl.appendTo(ul);

        // Initialize the knob plugin
        tpl.find('input').knob();

        // Listen for clicks on the cancel icon
        tpl.find('span').click(function(){

            if(tpl.hasClass('working')){
                jqXHR.abort();
            }

            tpl.fadeOut(function(){
                tpl.remove();
            });

        });

        // Automatically upload the file once it is added to the queue
        var jqXHR = data.submit();
    },

    progress: function(e, data){

        // Calculate the completion percentage of the upload
        var progress = parseInt(data.loaded / data.total * 100, 10);

        // Update the hidden input field and trigger a change
        // so that the jQuery knob plugin knows to update the dial
        data.context.find('input').val(progress).change();

        if(progress == 100){
            data.context.removeClass('working');
						if(document.getElementById("gclabel").checked){
            document.getElementById("pdftemplate").value = "gc-" + document.getElementById("id").value + ".pdf";
					}else{
						document.getElementById("pdftemplate").value = "gc-zert.pdf";
					}
        }
    },

    fail:function(e, data){
        // Something has gone wrong!
        data.context.addClass('error');
    }

});

// Prevent the default action when a file is dropped on the window
$(document).on('drop dragover', function (e) {
    e.preventDefault();
});

// Helper function that formats the file sizes
function formatFileSize(bytes) {
    if (typeof bytes !== 'number') {
        return '';
    }

    if (bytes >= 1000000000) {
        return (bytes / 1000000000).toFixed(2) + ' GB';
    }

    if (bytes >= 1000000) {
        return (bytes / 1000000).toFixed(2) + ' MB';
    }

    return (bytes / 1000).toFixed(2) + ' KB';
}

});

    </script>
	</true>
</check>

		<center>
	<h1> {{ @html_title }}</h1></center>
<form name="certtype"   method="post" action="{{ @BASE }}{{ @PARAMS.0 }}">

	<div class="row">
		<div class="col-md-6">

			<input class="form-control" type="hidden" name="id" id="id" value="{{ isset(@POST.id)?(@POST.id):'' }}" size="60" />

			<label for='ident'>GC ID Number: </label>
			<br />
			<input class="form-control" type="text" name="ident" id="ident" value="{{ isset(@POST.ident)?(@POST.ident):'' }}" size="60" />
			<br />
			<label for='title'>Title for PDF output: </label>
			<br />
			<input class="form-control" type="text" name="title" id="title" value="{{ isset(@POST.title)?(@POST.title):'' }}" size="60" />
			<br />
			<label for='title'>KVA: (RW Kürzel Dynamics) </label>
			<br />
			<input class="form-control" type="text" name="kva" id="kva" value="{{ isset(@POST.kva)?(@POST.kva):'' }}" size="60" />
			<br />

			<label for='lang'>Language: </label>
			<br />

			<select class="form-control" id="lang" name="lang">

				<repeat group="{{ @CertLanguages }}" value="{{ @formlang }}">
					<option value="{{ @formlang }}" {{ strcmp(strtoupper(isset(@POST.lang)),@formlang)? '': ' selected' }}>{{ @formlang }}</option>
				</repeat>
			</select>

			<br />



			<label for='description'>Description/Comments: </label>
			<br />
			<textarea class="form-control" name="description" id="description" cols="60" rows="10">{{ isset(@POST.description)?(@POST.description):'' }}</textarea>
			<br />

		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label >Text Color (RGB): </label>
				<div class="input-group ">
					<div class="input-group-addon">R</div>
					<input type="text" class="form-control" id="cr" name="cr" placeholder="255" value="{{ isset(@POST.cr)?(@POST.cr):'' }}">
					<div class="input-group-addon">G</div>
					<input type="text" class="form-control" id="cg" name="cg" placeholder="255" value="{{ isset(@POST.cg)?(@POST.cg):'' }}" >
					<div class="input-group-addon">B</div>
					<input type="text" class="form-control" id="cb" name="cb" placeholder="255" value="{{ isset(@POST.cb)?(@POST.cb):'' }}">
				</div>
			</div>
			<div class="form-group">
				<label >Document Margin: </label>
				<div class="input-group ">
					<div class="input-group-addon">LEFT</div>
					<input type="text" class="form-control" id="marginleft" name="marginleft" placeholder="eg. 50" value="{{ isset(@POST.marginleft)?(@POST.marginleft):'' }}">
					<div class="input-group-addon">TOP</div>
					<input type="text" class="form-control" id="margintop" name="margintop" placeholder="eg. 20" value="{{ isset(@POST.margintop)?(@POST.margintop):'' }}" >
					<div class="input-group-addon">RIGHT</div>
					<input type="text" class="form-control" id="marginright" name="marginright" placeholder="eg. 15" value="{{ isset(@POST.marginright)?(@POST.marginright):'' }}">
				</div>
			</div>
			<div class="form-group">
				<label for='textcolor'>Template: </label>
				<div class="input-group">
					<div class="input-group-addon">PDF</div>
					<input type="text" class="form-control" id="pdftemplate" name="pdftemplate" placeholder="filename.pdf" value="{{ isset(@POST.pdftemplate)?(@POST.pdftemplate):'' }}" readonly>

				</div>
<br>
				<a data-toggle="modal" data-target="#uploadmodal">
				<button type="button" class="btn btn-warning btn-sm"><span class="glyphicon glyphicon-upload"></span>

					<check if="{{ isset(@POST.id) }}">
					    <true>
					Template Upload
</true>
<false>
	Bitte erst speichern und nochmals aufrufen um Template zu setzten!
</false></check>
				</button></a>

			</div>
			<div class="form-group"><label for='gclabel'><input  type="checkbox" name="gclabel" id="gclabel" value="1" {{@tplCheckTrue(@POST.gclabel)? 'checked':''}} /> Is GC Label</label></div>
      <div class="form-group"><label for='active'><input  type="checkbox" name="active" id="active" value="1" {{@tplCheckTrue(@POST.active)? 'checked':''}} /> Certificate active</label></div>


		</div>
	</div>

	<input type="submit" value="Speichern" class="btn btn-primary" />

</form>
