<center>
	<h1> {{ @html_title }}</h1></center>

<p><a href='{{@BASE}}/admin/certtypes/add' <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Add new Certificate</button></a></p>
<div class="table-responsive fixed_headers">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>ID</th>
				<th>GC Label</th>
				<th>GC ID Number</th>
				<th>KVA</th>
				<th>Title</th>
				<th>Language</th>
				<th>Text Color</th>
				<th>PDF Template</th>
				<th>Active?</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<repeat group="{{ @list }}" value="{{ @item }}">
				<tr>
					<td>{{ @item.id }}</td>
					<td>{{@item.gclabel? '<span class="glyphicon glyphicon-ok"></span>':''}}</td>
					<td>{{ @item.ident }}</td>
					<td>{{ @item.kva }}</td>
					<td>{{ @item.title }}</td>
					<td>{{ @item.lang }}</td>
					<td>RGB({{ @item.cr }},{{ @item.cg }},{{ @item.cb }})</td>
					<td>{{ @item.pdftemplate }}</td>
					<td>
  <check if="{{ (@item.active == 1) }}">
						<true><a href="{{@BASE}}/admin/certtypes/deactivate/{{ @item.id }}" alt="Click to deactivate!"><button type="button" class="btn btn-success btn-sm activate"><span class="glyphicon glyphicon-ok"></span></button></a></true>
						<false><a href="{{@BASE}}/admin/certtypes/activate/{{ @item.id }}" alt="Click to activate!"><button type="button" class="btn btn-danger btn-sm activate"><span class="glyphicon glyphicon-wrench"></span></button></a></false>
					</check>
						</td>
					<td>
						<a href="{{@BASE}}/admin/certtypes/edit/{{ @item.id }}">
							<button type="button" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-pencil"></span> Edit</button>
						</a>
						<a href="{{@BASE}}/admin/certtypes/design/{{ @item.id }}">
							<button type="button" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-pencil"></span> Design</button>
						</a>
						<a data-href="{{@BASE}}/admin/certtypes/copy/{{ @item.id }}" data-toggle="modal" data-target="#confirm-copy">
							<button type="button" class="btn btn-warning btn-sm"><span class="glyphicon glyphicon-duplicate"></span> Copy</button>
						</a>
						<a data-href="{{@BASE}}/admin/certtypes/delete/{{ @item.id }}" data-toggle="modal" data-target="#confirm-delete">
							<button type="button" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove"></span> Delete</button>
						</a>
					</td>
				</tr>
			</repeat>
		</tbody>
	</table>
</div>




<!-- Modal Dialog -->
<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
			</div>

			<div class="modal-body">
				<p>You are about to DELETE one entry.</p>
				<p>Do you want to proceed?</p>
				<p class="debug-url"></p>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<a class="btn btn-danger btn-ok">Delete</a>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="confirm-copy" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Confirm Copy</h4>
			</div>

			<div class="modal-body">
				<p>You are about to COPY one entry.</p>
				<p>Do you want to proceed?</p>
				<p class="debug-url"></p>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<a class="btn btn-warning btn-ok">Copy</a>
			</div>
		</div>
	</div>
</div>

<!-- Dialog show event handler -->
<script type="text/javascript">
	$('#confirm-delete').on('show.bs.modal', function(e) {
		$(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
	});
	$('#confirm-copy').on('show.bs.modal', function(e) {
		$(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
	});
</script>
