<center><h1> {{ @html_title }}</h1></center>
<div class="row">
<div class="col-md-12">
<div class="table-responsive">
<table class="table generalinfo">
	<thead>
		<tr>
			<th>ID</th>
			<th>Identifier</th>
			<th>GC Label</th>
			<th>Description</th>
			<th>Language</th>

		</tr>
	</thead>
	<tbody>

		<tr>
			<td>{{ @item.id }}</td>
			<td>{{ @item.ident }}</td>
			<td>{{@item.gclabel? '<span class="glyphicon glyphicon-ok"></span>':''}}</td>
			<td>{{ @item.description }}</td>
			<td>{{ @item.lang }}</td>


		</tr>

	</tbody>
</table>
</div>
</div>
</div>

<div class="row">
	<div class="col-md-6">
<center><h3>Used Elements</h3></center>
		<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>Var</th>
					<th>Type</th>
					<th>GC</th>
					<th>Ident</th>
					<th>Lang</th>
					<th>f</th>
					<th>fW</th>
					<th>X</th>
					<th>Y</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
			<repeat group="{{ @usedelements }}" value="{{ @item_used }}">
				<tr>
					<td>{{ @item_used.elements_id }}</td>
					<td>{{@item_used.isvar? '<span class="glyphicon glyphicon-ok"></span>':''}}</td>
					<td>{{ @item_used.type }}</td>
					<td>{{@item_used.gclabel? '<span class="glyphicon glyphicon-ok"></span>':''}}</td>
					<td>{{ @item_used.ident }}

              <check if="{{ (@item_used.lang == @item.lang) OR (@item_used.lang == 'XX') }}">
          		<false><span class="badge wronglanguage">wrong Lang!</span></false></check>

              <check if="{{ (@item_used.cert_ident == @item.id) OR (@item_used.cert_ident == '0') }}">
                  <false><span class="badge wrongcertificate">wrong Cert!</span></false></check>

            </td>
					<td>{{ @item_used.lang }}</td>
					<td>{{ @item_used.fontsize }}</td>
					<td>{{ @item_used.fontweight }}</td>
					<td>{{ @item_used.x }}</td>
					<td>{{ @item_used.y }}</td>
					<td><a href="{{@BASE}}/admin/textelements/removefromcert/{{ @item_used.certificates_id }}/{{ @item_used.elements_id }}"><button type="button" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove"></span></button></a>
					</td>
				</tr>
			</repeat>
			</tbody>
		</table>
		</div>

	</div>

	<div class="col-md-6">
<center><h3>Elements available</h3></center>
		<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>Var</th>
					<th>Type</th>
					<th>GC</th>
					<th>Ident</th>
					<th>Lang</th>
					<th>f</th>
					<th>fW</th>
					<th>X</th>
					<th>Y</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
			<repeat group="{{ @elementslist }}" value="{{ @item_new }}">
				<tr>
					<td>{{ @item_new.id }}</td>
					<td>{{@item_new.isvar? '<span class="glyphicon glyphicon-ok"></span>':''}}</td>
					<td>{{ @item_new.type }}</td>
					<td>{{@item_new.gclabel? '<span class="glyphicon glyphicon-ok"></span>':''}}</td>
					<td>{{ @item_new.ident }}</td>
					<td>{{ @item_new.lang }}</td>
					<td>{{ @item_new.fontsize }}</td>
					<td>{{ @item_new.fontweight }}</td>
					<td>{{ @item_new.x }}</td>
					<td>{{ @item_new.y }}</td>
					<td><a href="{{@BASE}}/admin/textelements/addtocert/{{ @item.id }}/{{ @item_new.id }}"><button type="button" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-plus"></span></button></a>
					</td>
				</tr>
			</repeat>
			</tbody>
		</table>
		</div>

	</div>
</div>



<!-- Modal Dialog -->
<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
				<div class="modal-content">

						<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								<h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
						</div>

						<div class="modal-body">
								<p>You are about to delete one track, this procedure is irreversible.</p>
								<p>Do you want to proceed?</p>
								<p class="debug-url"></p>
						</div>

						<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
								<a class="btn btn-danger btn-ok">Delete</a>
						</div>
				</div>
		</div>
</div>

<!-- Dialog show event handler -->
<script type="text/javascript">
$('#confirm-delete').on('show.bs.modal', function(e) {
    $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
});

</script>
