

<center><h1> {{ @html_title }}</h1></center>



<form name="textelement"  method="post" action="{{ @BASE }}{{ @PARAMS.0 }}" >

<div class="row">
	<div class="col-md-6">


	<div class="form-group"><label for='type'>Type: </label><br />


		<select class="form-control" id="type" name="type">
			<repeat group="{{ @InputTypes }}" value="{{ @elementtype }}">
			<option value="{{ @elementtype }}" {{ strcmp(@POST.type,@elementtype)?'':' selected' }}>{{ strtoupper(@elementtype) }}</option>
			</repeat>
		</select>


	</div>
	<div class="form-group"><label for='lang'>Language: </label>
		<select class="form-control" id="lang" name="lang">
			<repeat group="{{ @CertLanguages }}" value="{{ @formlang }}">
		  <option value="{{ @formlang }}" {{ strcmp(strtoupper(@POST.lang),@formlang)?'':' selected' }}>{{ @formlang }}</option>
			</repeat>
		</select>
	</div>
	<div class="form-group"><label for='ident'>Identifier: </label><br /><input class="form-control" type="text" name="ident" id="ident" value="{{ isset(@POST.ident)?(@POST.ident):'' }}" size="60"/></div>
	<div class="form-group">

<label for='cert_ident'>For GC Type: </label><br />
		<exclude><input class="form-control" type="text" name="cert_ident" id="cert_ident" value="{{ isset(@POST.cert_ident)?(@POST.cert_ident):'' }}" size="60"/></exclude>


			<select class="form-control" id="cert_ident" name="cert_ident">
				<option value="0">ALL</option>
				<repeat group="{{ @certidents }}" value="{{ @certident }}">
				<option value="{{ @certident.ident }}" {{ strcmp(@POST.cert_ident,@certident.ident)?'':' selected' }}>{{ @certident.ident }} - {{ @certident.title }}</option>
				</repeat>
			</select>


	</div>
	<div class="form-group"><label for='text'>Text: </label><br />
		<div class="alert alert-info" role="alert"><p class="hint"><b>Hinweis:</b> Texte und Textboxen können Variablen enthalten. Diese bitte mit {VARNAME} deklarieren. Inhalt innerhalb der Klammern entspricht einem anderen Textelement, das als Variable deklariert werden muss. z.B. {City}</p></div><textarea class="form-control" name="text" id="text" cols="60" rows="10">{{ isset(@POST.text)?(@POST.text):'' }}</textarea></div>


	</div>

	<div class="col-md-6">

		<div class="form-group"><label for='fontsize'>Font Size: </label><br /><input class="form-control" type="text" name="fontsize" id="fontsize" value="{{ isset(@POST.fontsize)?(@POST.fontsize):'' }}" size="60"/></div>
		<div class="form-group"><label for='fontweight'>Font Weight (B=Bold, BI=BoldItalic, Empty=normal): </label><br /><input class="form-control" type="text" name="fontweight" id="fontweight" value="{{ isset(@POST.fontweight)?(@POST.fontweight):'' }}" size="60"/></div>
		<div class="form-group"><label for='align'>for Textbox: Align (J=Justify,L=Left,R=Right,C=Center): </label><br /><input class="form-control" type="text" name="align" id="align" value="{{ isset(@POST.align)?(@POST.align):'' }}" size="60"/></div>
		<div class="form-group"><label for='valign'>for Textbox: Vertical Align (T=Top, M=Middle, B=Bottom): </label><br /><input class="form-control" type="text" name="valign" id="valign" value="{{ isset(@POST.valign)?(@POST.valign):'' }}" size="60"/></div>

		<div class="form-group"><label for='x'>X: </label><br /><input class="form-control" type="text" name="x" id="x" value="{{ isset(@POST.x)?htmlspecialchars(@POST.x):'' }}" size="60"/></div>
		<div class="form-group"><label for='y'>Y: </label><br /><input class="form-control" type="text" name="y" id="y" value="{{ isset(@POST.y)?htmlspecialchars(@POST.y):'' }}" size="60"/></div>
		<div class="form-group"><label for='width'>Width: </label><br /><input class="form-control" type="text" name="width" id="width" value="{{ isset(@POST.width)?htmlspecialchars(@POST.width):'' }}" size="60"/></div>
		<div class="form-group"><label for='height'>for Textbox: height: </label><br /><input class="form-control" type="text" name="height" id="height" value="{{ isset(@POST.height)?htmlspecialchars(@POST.height):'' }}" size="60"/></div>
		<div class="form-group"><label for='isvar'><input  type="checkbox" name="isvar" id="isvar" value="1" {{@tplCheckTrue(@POST.isvar)? 'checked':''}} /> Variable Input</label></div>
		<div class="form-group"><label for='print'><input  type="checkbox" name="print" id="print" value="1" {{@tplCheckTrue(@POST.print)? 'checked':''}} /> Direct output?</label></div>

		<div class="form-group "><label for='gclabel'><input  type="checkbox" name="gclabel" id="gclabel" value="1" {{@tplCheckTrue(@POST.gclabel)? 'checked':''}} /> For GC Label</label></div>

	</div>
</div>
	<input type="submit" value="Speichern" class="btn btn-primary"/>
</form>

<div class="row">
	<div class="col-md-12">
		<center>

			<a data-toggle="modal" data-target="#namceconvention">
			<button type="button" class="btn btn-warning btn-sm"><span class="glyphicon glyphicon-info-sign"></span> Naming of Elements
			</button></a>
		</center>
	</div>
</div>


<div class="modal fade" id="namceconvention" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Naming of Elements</h4>
			</div>

			<div class="modal-body">

				<div class="table-responsive">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Ident</th>
								<th>NormalType</th>
								<th>NormalVar?</th>
								<th>Description</th>

							</tr>
						</thead>
						<tbody>
							<tr>
								<td>GCIDENT</td>
								<td>text</td>
								<td><span class="glyphicon glyphicon-ok"></span></td>
								<td>GC-Type ID Number</td>
							</tr>
							<tr>
								<td>CERTREGNO</td>
								<td>text</td>
								<td><span class="glyphicon glyphicon-ok"></span></td>
								<td>AZ or BR Number of Client</td>
							</tr>
							<tr>
								<td>CompanyName</td>
								<td>text</td>
								<td><span class="glyphicon glyphicon-ok"></span></td>
								<td>Company Name</td>
							</tr>
							<tr>
								<td>CompanyStreet</td>
								<td>textbox</td>
								<td><span class="glyphicon glyphicon-ok"></span></td>
								<td>Address/Street (multiline)</td>
							</tr>
							<tr>
								<td>CompanyCity</td>
								<td>text</td>
								<td><span class="glyphicon glyphicon-ok"></span></td>
								<td>City</td>
							</tr>
							<tr>
								<td>CompanyCountry</td>
								<td>text</td>
								<td><span class="glyphicon glyphicon-ok"></span></td>
								<td>Country</td>
							</tr>
							<tr>
								<td>CompanyZipCode</td>
								<td>text</td>
								<td><span class="glyphicon glyphicon-ok"></span></td>
								<td>Zip Code</td>
							</tr>
						</tbody>

					</table>

			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-success" data-dismiss="modal">OK</button>

			</div>
		</div>
	</div>
</div>




<!-- Dialog show event handler -->
<script type="text/javascript">
$('#namceconvention').on('show.bs.modal', function(e) {

});
</script>
