<center>
	<h1> {{ @html_title }}</h1></center>

<div class="row">
	<div class="col-md-5">
		<form method="post" action="{{@BASE}}/admin/textelements/" class="list-search">
		<div class="form-group">
			<a href='{{@BASE}}/admin/textelements/add' <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Add new Text Element</button></a>
			<input class="form-control" name="typeahead" id="typeahead" type="text" placeholder="by Text">
			<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span> Search</button>
		</div>
	</form>
</div>

<div class="col-md-2">
	<select class="form-control" id="cert_ident" name="cert_ident" onChange="location.href=this.options[this.selectedIndex].value">
		<option value="{{@BASE}}/admin/textelements/">Nach CertIdent filtern</option>
		<option value="{{@BASE}}/admin/textelements/filter/all">ALL</option>
		<repeat group="{{ @certidents }}" value="{{ @certident }}">
		<option value="{{@BASE}}/admin/textelements/filter/cert_ident/{{ @certident.ident }}">{{ @certident.ident }} - {{ @certident.title }}</option>
		</repeat>
	</select>
</div>

	<div class="col-md-5 alignright">
		<div class="row border2">
			<div class="col-md-12">
		<a href='{{@BASE}}/admin/textelements/filter/gclabel/1' <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-filter"></span> GC Label</button></a>
		<a href='{{@BASE}}/admin/textelements/filter/gclabel/0' <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-filter"></span> Zertpapier</button></a>
		<a href='{{@BASE}}/admin/textelements/filter/all' <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-list"></span> Alle</button></a>
	</div>
		</div>
		<div class="row border2">
			<div class="col-md-12">
		<a href='{{@BASE}}/admin/textelements/filter/type/text' <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-text-size"></span> TXT</button></a>
		<a href='{{@BASE}}/admin/textelements/filter/type/textbox' <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-text-background"></span> TXT BX</button></a>
		<a href='{{@BASE}}/admin/textelements/filter/type/date' <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-calendar"></span> DATE</button></a>
		<a href='{{@BASE}}/admin/textelements/filter/type/qr' <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-qrcode"></span> QR</button></a>
		<a href='{{@BASE}}/admin/textelements/filter/type/logo' <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-picture"></span> LOGO</button></a>
		<a href='{{@BASE}}/admin/textelements/filter/type/gclogo' <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-asterisk"></span> GCLOGO</button></a>
		<a href='{{@BASE}}/admin/textelements/filter/type/gaelogo' <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-asterisk"></span> GAELOGO</button></a>
		<a href='{{@BASE}}/admin/textelements/filter/type/image' <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-asterisk"></span> IMG</button></a>
		<a href='{{@BASE}}/admin/textelements/filter/type/signature' <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span> SIGN</button></a>

		<a href='{{@BASE}}/admin/textelements/filter/type/joinedtext' <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-text-background"></span> JOINEDTXT</button></a>
		<a href='{{@BASE}}/admin/textelements/filter/all' <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-list"></span> Alle</button></a>
	</div>
		</div>
	</div>
</div>



<script>
	$(document).ready(function() {
		var searchIt = new Bloodhound({
			datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
			queryTokenizer: Bloodhound.tokenizers.whitespace,
			prefetch: '{{@BASE}}/search/textelements/cert',
			remote: {
				url: '{{@BASE}}/search/textelements/%QUERY',
				wildcard: '%QUERY'
			}
		});

		$('#typeahead').typeahead({
			highlight: true
		}, {
			name: 'text',
			displayKey: 'text',
			source: searchIt,
			limit: 10000,
			templates: {
				suggestion: function(text) {

					if(text.text.length > 140) {
					    text.text = text.text.substring(0,140)+" ...";
					}
					return '<div class="ajaxsearchdiv"> ' + text.ident + ' (' + text.type + ')<p class="ajaxsearch">' + text.text + '</p></div>';
				}
			}
		})
	});
</script>



<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>ID</th>
				<th>Var</th>
				<th>Type</th>
				<th>GClabel</th>
				<th>CertIdent</th>
				<th>Ident</th>

				<th>Language</th>

				<th>Fontsize</th>
				<th>FontWeight</th>
				<th>X</th>
				<th>Y</th>
				<th>Align</th>
				<th>Print</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<repeat group="{{ @list }}" value="{{ @item }}">
				<tr>
					<td>{{ @item.id }}</td>
					<td>{{@item.isvar? '<span class="glyphicon glyphicon-ok"></span>':''}}</td>
					<td>{{ @item.type }}</td>
					<td>{{@item.gclabel? '<span class="glyphicon glyphicon-ok"></span>':''}}</td>
					 <td>{{ getCertTitleByIdent(@item.cert_ident) }}</td>
					<td>
						<check if="{{  @item.noinstances < 1}}">
    				<true><span class="badge zero">{{ @item.noinstances }}</span></true>
						<false><span class="badge primary">{{ @item.noinstances }}</span></false>
						</check>


 {{ @item.ident }}

 <check if="{{ (@item.ident == 'CERTREGNO') OR (@item.ident == 'GCIDENT') OR (@item.ident == 'CompanyCity') OR (@item.ident == 'CompanyZipCode') OR (@item.ident == 'CompanyStreet') OR (@item.ident == 'CompanyName') OR (@item.ident == 'CompanyCountry')  }}">
 <true><span class="badge trending">do not rename!</span></true></check>

</td>

					<td>{{ @item.lang }}</td>

					<td>{{ @item.fontsize }}</td>
					<td>{{ @item.fontweight }}</td>
					<td>{{ @item.x }}</td>
					<td>{{ @item.y }}</td>
					<td>{{ @item.align }}</td>
					<td>{{@item.print? '<span class="glyphicon glyphicon-ok"></span>':''}}</td>
					<td>
						<a href="{{@BASE}}/admin/textelements/edit/{{ @item.id }}">
							<button type="button" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-pencil"></span> Edit</button>
						</a>
						<a data-href="{{@BASE}}/admin/textelements/copy/{{ @item.id }}" data-toggle="modal" data-target="#confirm-copy">
							<button type="button" class="btn btn-warning btn-sm"><span class="glyphicon glyphicon-duplicate"></span> Copy</button>
						</a>
							<a data-href="{{@BASE}}/admin/textelements/delete/{{ @item.id }}" data-toggle="modal" data-target="#confirm-delete">
								<button type="button" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove"></span> Delete</button>
							</a>
					</td>
				</tr>
			</repeat>
		</tbody>
	</table>
</div>

<div class="row">
	<div class="col-md-12">
		<center>

			<a data-toggle="modal" data-target="#namceconvention">
			<button type="button" class="btn btn-warning btn-sm"><span class="glyphicon glyphicon-info-sign"></span> Naming of Elements
			</button></a>
		</center>
	</div>
</div>



<!-- Modal Dialog -->
<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
			</div>

			<div class="modal-body">
				<p>You are about to delete one track, this procedure is irreversible.</p>
				<p>Do you want to proceed?</p>
				<p class="debug-url"></p>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<a class="btn btn-danger btn-ok">Delete</a>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="confirm-copy" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Confirm Copy</h4>
			</div>

			<div class="modal-body">
				<p>You are about to copy one entry.</p>
				<p>Do you want to proceed?</p>
				<p class="debug-url"></p>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<a class="btn btn-warning btn-ok">Copy</a>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="namceconvention" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Naming of Elements</h4>
			</div>

			<div class="modal-body">

				<div class="table-responsive">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Ident</th>
								<th>NormalType</th>
								<th>NormalVar?</th>
								<th>Description</th>

							</tr>
						</thead>
						<tbody>
							<tr>
								<td>GCIDENT</td>
								<td>text</td>
								<td><span class="glyphicon glyphicon-ok"></span></td>
								<td>GC-Type ID Number</td>
							</tr>
							<tr>
								<td>CERTREGNO</td>
								<td>text</td>
								<td><span class="glyphicon glyphicon-ok"></span></td>
								<td>AZ or BR Number of Client</td>
							</tr>
							<tr>
								<td>CompanyName</td>
								<td>text</td>
								<td><span class="glyphicon glyphicon-ok"></span></td>
								<td>Company Name</td>
							</tr>
							<tr>
								<td>CompanyStreet</td>
								<td>textbox</td>
								<td><span class="glyphicon glyphicon-ok"></span></td>
								<td>Address/Street (multiline)</td>
							</tr>
							<tr>
								<td>CompanyCity</td>
								<td>text</td>
								<td><span class="glyphicon glyphicon-ok"></span></td>
								<td>City</td>
							</tr>
							<tr>
								<td>CompanyCountry</td>
								<td>text</td>
								<td><span class="glyphicon glyphicon-ok"></span></td>
								<td>Country</td>
							</tr>
							<tr>
								<td>CompanyZipCode</td>
								<td>text</td>
								<td><span class="glyphicon glyphicon-ok"></span></td>
								<td>Zip Code</td>
							</tr>
						</tbody>

					</table>

			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-success" data-dismiss="modal">OK</button>

			</div>
		</div>
	</div>
</div>




<!-- Dialog show event handler -->
<script type="text/javascript">
$('#namceconvention').on('show.bs.modal', function(e) {

});

	$('#confirm-copy').on('show.bs.modal', function(e) {
			$(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
	});
	$('#confirm-delete').on('show.bs.modal', function(e) {
		$(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
	});

</script>
