



 <div class="row">
   <div class="col-md-2">
   </div>
     <div class="col-md-8">



 <h1><span style="margin:50px 0 20px 0; background:#d9534f;" class="glyphicon glyphicon-exclamation-sign"></span> Ooops...</h1>

  <pre>
    <h2>{{@ERROR.text}}</h2>
    <p>Error code: {{@ERROR.code}}</p>
    <p>{{ isset(@SESSION.error_msg)?(@SESSION.error_msg):'' }}</p>
  </pre>


  <button type="button" class="btn btn-primary" onclick="window.history.back()"><span class="glyphicon glyphicon-step-backward"></span> BACK
  </button></a> {{ isset(@SESSION.error_elementfilter)?('<a href="http://ca2-cfs.dqs.lan/admin/textelements/filter/all"><button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-step-backward"></span> RESET FILTER
  </button></a>'):'' }}




 </div>
 <div class="col-md-2"></div>
 </div>
