

<center><h1> {{ @html_title }}</h1></center>

<div class="row">
	<div class="col-md-6">
		<div class="panel panel-default">
		  <div class="panel-body">
	<p>
Upload von Bildern für Platzhaltertypen: IMAGE & SIGNATURE
</p>
<p>
1. Platzhaltername festlegen (kommt bei den Textelementen in Feld "Text")<br>
2. Platzhaltertyp festlegen (Bild oder Unterschrift)<br>
3. Datei auswählen
</p>
<p>
Upload erfolgt automatisch. Datei wird abgelegt als "Platzhaltername.png/jpg" - existiert Datei bereits, wird diese überschrieben.
</p>
</div>
</div>
</div>

	<div class="col-md-3">

		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Bildplatzhalter</th>
		<tbody>
<repeat group="{{ @list_images }}" key="{{@img_key}}" value="{{ @img_item }}">
			<tr>
				<td>
	{{@img_item}}
			</td>
			</tr>
		</repeat>
		</tbody>
		</table>
</div>
</div>



	<div class="col-md-3">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Signaturen</th>
	<tbody>
	<repeat group="{{ @list_signatures }}" key="{{@sig_key}}" value="{{ @sig_item }}">
		<tr>
			<td>
	{{@sig_item}}
		</td>
		</tr>
	</repeat>
	</tbody>
	</table>
</div>
</div>

<form id="upload" method="post" action="{{@BASE}}/performimageupload/" enctype="form-data">
<label for='placeholder_name'>1. Platzhaltername: </label><input type="text" name="placeholder_name"></input><br>
	<label for='uploadtype'>2. Bildtyp: </label><select name="uploadtype">
		<option value="">...</option>
		<option value="image">Bild</option>
		<option value="signatures">Unterschrift</option>
	</select>
<br>
			<div id="drop">
				Drop Here

				<a>Browse</a>

				<input type="file" name="upl"  />
			</div>

			<ul>
				<!-- The file uploads will be shown here -->
			</ul>

		</form>


		<!-- Dialog show event handler -->
		<script type="text/javascript">



			$('#uploadmodal').on('show.bs.modal', function(e) {

			});


			$(function(){

var ul = $('#upload ul');

$('#drop a').click(function(){
		// Simulate a click on the file input button
		// to show the file browser dialog
		$(this).parent().find('input').click();
});

// Initialize the jQuery File Upload plugin
$('#upload').fileupload({

		// This element will accept file drag/drop uploading
		dropZone: $('#drop'),

		// This function is called when a file is added to the queue;
		// either via the browse button, or via drag/drop:
		add: function (e, data) {

				var tpl = $('<li class="working"><input type="text" value="0" data-width="48" data-height="48"'+
						' data-fgColor="#0788a5" data-readOnly="1" data-bgColor="#3e4043" /><p></p><span></span></li>');

				// Append the file name and file size
				tpl.find('p').text(data.files[0].name)
										 .append('<i>' + formatFileSize(data.files[0].size) + '</i>');

				// Add the HTML to the UL element
				data.context = tpl.appendTo(ul);

				// Initialize the knob plugin
				tpl.find('input').knob();

				// Listen for clicks on the cancel icon
				tpl.find('span').click(function(){

						if(tpl.hasClass('working')){
								jqXHR.abort();
						}

						tpl.fadeOut(function(){
								tpl.remove();
						});

				});

				// Automatically upload the file once it is added to the queue
				var jqXHR = data.submit();
		},

		progress: function(e, data){

				// Calculate the completion percentage of the upload
				var progress = parseInt(data.loaded / data.total * 100, 10);

				// Update the hidden input field and trigger a change
				// so that the jQuery knob plugin knows to update the dial
				data.context.find('input').val(progress).change();

				if(progress == 100){
						data.context.removeClass('working');
						document.getElementById("withCustomerLogo").style.visibility = "visible";
				}
		},

		fail:function(e, data){
				// Something has gone wrong!
				data.context.addClass('error');
		}

});

// Prevent the default action when a file is dropped on the window
$(document).on('drop dragover', function (e) {
		e.preventDefault();
});

// Helper function that formats the file sizes
function formatFileSize(bytes) {
		if (typeof bytes !== 'number') {
				return '';
		}

		if (bytes >= 1000000000) {
				return (bytes / 1000000000).toFixed(2) + ' GB';
		}

		if (bytes >= 1000000) {
				return (bytes / 1000000).toFixed(2) + ' MB';
		}

		return (bytes / 1000).toFixed(2) + ' KB';
}

});

		</script>
