
<div class="row">
  <div class="col-md-2">
  </div>
    <div class="col-md-8">


  <check if="{{ null !== (@SESSION.CERTREGNO) }}">
    <true>

<h2><span style="margin:50px 0 20px 0; background:#5cb85c;" class="glyphicon glyphicon-ok"></span> Daten erfolgreich übernommen.</h2>

      <table class="table table-striped">
    <repeat group="{{ @TransferData }}" key="{{@lkey}}" value="{{ @lval }}">
      <tr>
        <td>{{ @lkey }}</td>
        <td>{{ nl2br(@lval) }}</td>
      </tr>

  </repeat>
</table>
<h1><span style="margin-top:10px; " class="glyphicon glyphicon-arrow-left"></span> Zertifikatsvorlage auf linker Seite auswählen!</h1>
</true><false>
  <h2><span style="margin:50px 0 20px 0; background:#d9534f;" class="glyphicon glyphicon-remove"></span> Datenübernahme gescheitert.<br>Bitte wiederholen oder Zertifikatsausstellung manuell starten.</h2>
  <pre>{{@dataset}}</pre>
</false>


</check>



</div>
<div class="col-md-2"></div>
</div>
