<html>

<head>
    <script src="{{@BASE}}/js/jquery-2.2.3.min.js"></script>
    <script src="{{@BASE}}/js/bootstrap.min.js"></script>
    <script src="{{@BASE}}/lib/bs_datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="{{@BASE}}/js/typeahead.bundle.js"></script>

    <script src="{{@BASE}}/js/jquery.knob.js"></script>

    		<!-- jQuery File Upload Dependencies -->
    		<script src="{{@BASE}}/js/jquery.ui.widget.js"></script>
    		<script src="{{@BASE}}/js/jquery.iframe-transport.js"></script>
    		<script src="{{@BASE}}/js/jquery.fileupload.js"></script>

    <link rel="stylesheet" href="{{@BASE}}/lib/bs_datepicker/css/bootstrap-datepicker3.min.css" media="all" />
    <link rel="stylesheet" href="{{@BASE}}/ui/css/bootstrap.min.css" media="all" />
    <link rel="stylesheet" href="{{@BASE}}/ui/css/dashboard.css" media="all" />
    <link rel="shortcut icon" href="{{@BASE}}/ui/images/favicon.ico">
    <link rel="icon" type="image/x-icon" href="{{@BASE}}/ui/images/favicon.ico" />
    <link rel="icon" type="image/png" href="{{@BASE}}/ui/images/favicon.png" sizes="32x32">
    <title>{{@APPNAME}}</title>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img class="navbar-brand" src="{{@BASE}}/ui/images/cfs_certapp_wht.png" class="img-responsive" alt="Responsive image">
                


            </div>

            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <repeat group="{{ @menu }}" key="{{ @navkey }}" value="{{ @navval }}">
                        <check if="{{ @navpath == @navval['path']}}">
                            <true>
                                <li class="active"><a href="{{@BASE}}/{{@navval['path']}}"><span class="glyphicon glyphicon-{{ @navval['icon'] }}"></span> {{ @navval['label'] }}</a></li>
                            </true>
                            <false>
                                <li><a href="{{@BASE}}/{{@navval['path']}}"><span class="glyphicon glyphicon-{{ @navval['icon'] }}"></span> {{ @navval['label'] }}</a></li>
                            </false>
                        </check>

                    </repeat>
                    <check if="{{ isset(@SESSION.user) }}">
                        <true>

                            <repeat group="{{ @admin_menu }}" key="{{ @navkey }}" value="{{ @navval }}">
                                <check if="{{ @navpath == @navval['path']}}">
                                    <true>
                                        <li class="active"><a href="{{@BASE}}/{{@navval['path']}}"><span class="glyphicon glyphicon-{{ @navval['icon'] }}"></span> {{ @navval['label'] }}</a></li>
                                    </true>
                                    <false>
                                        <li><a href="{{@BASE}}/{{@navval['path']}}"><span class="glyphicon glyphicon-{{ @navval['icon'] }}"></span> {{ @navval['label'] }}</a></li>
                                    </false>
                                </check>

                            </repeat>

                            <li class="logout"><a href="{{@BASE}}/logout"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
                        </true>
                        <false>

                            <li><a href="{{@BASE}}/login"><span class="glyphicon glyphicon-cog"></span> Admin</a></li>
                        </false>
                    </check>




                </ul>

            </div>
        </div>
    </nav>





    <div class="col-sm-12 col-md-12  main">

        <div class="maincontent">
            <include href="{{ @content }}" />
        </div>

    </div>
    </div>
    </div>





</body>

</html>
