<div class="row loginprompt">

    <div class="col-md-4"></div>
    <div class="col-md-4">

        <center>
            <h1> {{ @html_title }}</h1></center>
        <div class="container-fluid">
            <form name="user" method="post" action="{{@BASE}}/login/{{ isset(@POST.id) }}">

                <label for='username'>Username: </label>
                <br />
                <input class="form-control" type="text" name="username" id="username" value="" size="60" />
                <br />

                <label for='password'>Password: </label>
                <br />
                <input class="form-control" type="password" name="password" id="password" value="" size="60" />
                <br />


                <input type="submit" value="Login" class="btn" />
            </form>

            <check if="{{ isset(@PARAMS.fail) }}">
                <true>
                    <div class="bg-fail">
                        <p><b>Login failed</b></p>
                        <p>try again.</div>

                </true>
            </check>

        </div>



    </div>
    <div class="col-md-4"></div>
</div>
