<div>

  <h2 style="text-align:center"><i class="fa fa-globe"></i> GC Cert</h2>
  <p style="text-align:center">V {{@VERSIONNR}}</p>

  <ul class="menu vertical">
    <li class="current"><a href="">Item 1</a></li>
    <li><a href="">Item 2</a></li>
    <li><a href="">Item 3</a></li>
    <li><a href="">Item 4</a></li>
  </ul>
</div>
