
  <div class="row certlist active" onclick="location.href='{{@BASE}}/certificates/fill/{{ @item.ident }}';" style="cursor:pointer;">

<exclude>
  <div class="col-md-1">
    #{{ @item.id }}
  </div></exclude>
  <div class="col-md-10">
    <b>{{ @item.ident }}</b>
    <br> {{ @item.title }}
  </div>



  <div class="col-md-1" style="text-align:right">
    <h4><span class="glyphicon glyphicon-play"></span></h4>
  </div>

  </div>
