<html>
<head>
	<link rel="stylesheet" href="{{@BASE}}/lib/bs_datepicker/css/bootstrap-datepicker3.min.css" media="all" />
	<link rel="stylesheet" href="{{@BASE}}/ui/css/bootstrap.min.css" media="all" />
	<link rel="stylesheet" href="{{@BASE}}/ui/css/dashboard.css" media="all" />
	<link rel="shortcut icon" href="{{@BASE}}/ui/images/favicon.ico">
	<link rel="icon" type="image/x-icon" href="{{@BASE}}/ui/images/favicon.ico" />
	<link rel="icon" type="image/png" href="{{@BASE}}/ui/images/favicon.png" sizes="32x32">
	<title>{{@APPNAME}}</title>
</head>
<body>


<div class="success">
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">

			<div class="page-header">
			<h1>Zertifikat erstellt</h1>
			<h3>{{@filename}}</h3>
		</div>



</div>
	<div class="col-md-4"></div>
</div>

<div class="row">
	<div class="col-md-4"></div>
<div class="col-md-4">
	<div class="jumbotron" style="padding:20px;">
	  <h1><span class="glyphicon glyphicon-ok"></span></h1>
	  <p>Dateien hier als PDF und/oder JPG herunterladen</p>
	  <p><a href="{{@path_pdf}}" target="_blank"><button type="button" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-cloud-download"></span> PDF FILE</button></a>
		<a href="{{@path_pdf2img}}" target="_blank"><button type="button" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-cloud-download"></span> JPG IMAGE</button></a></p>
	</div>
</div>

  <div class="col-md-4"></div>
</div>
</div>
</body>
