<div class="row uploadinfo  label-warning">
  <a data-toggle="modal" data-target="#uploadmodal">
  <button type="button" class="btn btn-warning btn-sm"><span class="glyphicon glyphicon-upload"></span> Logo Upload</button></a>
<button class="btn btn-success btn-sm" id="withCustomerLogo"><span class="glyphicon glyphicon-ok"></span> Logo Upload - OK</button>
</div>

    <div class="modal fade" id="uploadmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Logo Upload</h4>
          </div>

          <div class="modal-body">
            <form id="upload" method="post" action="{{@BASE}}/performupload/{{@idtopass}}" enctype="form-data">
          				<div id="drop">
          					Drop Here

          					<a>Browse</a>
          					<input type="file" name="upl"  />
          				</div>

          				<ul>
          					<!-- The file uploads will be shown here -->
          				</ul>

          			</form>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>

          </div>
        </div>
      </div>
    </div>

    <!-- Dialog show event handler -->
    <script type="text/javascript">
      $('#uploadmodal').on('show.bs.modal', function(e) {

      });


      $(function(){

var ul = $('#upload ul');

$('#drop a').click(function(){
    // Simulate a click on the file input button
    // to show the file browser dialog
    $(this).parent().find('input').click();
});

// Initialize the jQuery File Upload plugin
$('#upload').fileupload({

    // This element will accept file drag/drop uploading
    dropZone: $('#drop'),

    // This function is called when a file is added to the queue;
    // either via the browse button, or via drag/drop:
    add: function (e, data) {

        var tpl = $('<li class="working"><input type="text" value="0" data-width="48" data-height="48"'+
            ' data-fgColor="#0788a5" data-readOnly="1" data-bgColor="#3e4043" /><p></p><span></span></li>');

        // Append the file name and file size
        tpl.find('p').text(data.files[0].name)
                     .append('<i>' + formatFileSize(data.files[0].size) + '</i>');

        // Add the HTML to the UL element
        data.context = tpl.appendTo(ul);

        // Initialize the knob plugin
        tpl.find('input').knob();

        // Listen for clicks on the cancel icon
        tpl.find('span').click(function(){

            if(tpl.hasClass('working')){
                jqXHR.abort();
            }

            tpl.fadeOut(function(){
                tpl.remove();
            });

        });

        // Automatically upload the file once it is added to the queue
        var jqXHR = data.submit();
    },

    progress: function(e, data){

        // Calculate the completion percentage of the upload
        var progress = parseInt(data.loaded / data.total * 100, 10);

        // Update the hidden input field and trigger a change
        // so that the jQuery knob plugin knows to update the dial
        data.context.find('input').val(progress).change();

        if(progress == 100){
            data.context.removeClass('working');
            document.getElementById("withCustomerLogo").style.visibility = "visible";
        }
    },

    fail:function(e, data){
        // Something has gone wrong!
        data.context.addClass('error');
    }

});

// Prevent the default action when a file is dropped on the window
$(document).on('drop dragover', function (e) {
    e.preventDefault();
});

// Helper function that formats the file sizes
function formatFileSize(bytes) {
    if (typeof bytes !== 'number') {
        return '';
    }

    if (bytes >= 1000000000) {
        return (bytes / 1000000000).toFixed(2) + ' GB';
    }

    if (bytes >= 1000000) {
        return (bytes / 1000000).toFixed(2) + ' MB';
    }

    return (bytes / 1000).toFixed(2) + ' KB';
}

});

    </script>
<div class="fillform">{{ isset(@generateform)?html_entity_decode(@generateform):'' }}
</div>
