<div class="row">

	<div class="col-md-3  process-bar-1">
		<center>
			<h1> {{ @html_title }}</h1></center>




<check if="{{isset(@currentCert)}}">
	<true>
		<include href="{{ @currentCert }}" />
	</true>
	<false>

	</false>
</check>

<div class="livefilter">
<div class="form-group  has-warning has-feedback">
	 <label for="livefilter">Filter</label>
	<span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>
<input class="form-control" type="text" id="livefilter" name="livefilter" placeholder="filter by ID or Title">
</div>
</div>
<div id="certresults">
</div>






		</div>





				<div class="col-md-9 certgen col-md-offset-3 ">






		<div id="fillform">
			<include href="{{ @fillform }}" />
		</div>



		</div>



		</div>



		<check if="{{(@idtopass)}} > 0">
			<true>
				<script>


						$('input#livefilter').bind('input', function ()
						{
						    var textfield = $(this);

						    //code to hide/show "clear text field" box eliminated, etc


								    if (textfield.val().length >= 1)
								        $('div#certresults').load('{{@BASE}}/start/filterlist/{{@idtopass}}/' + encodeURIComponent(textfield.val()));
								    else
								        $('div#certresults').load('{{@BASE}}/start/filterlist/{{@idtopass}}');


						});
						$('div#certresults').load('{{@BASE}}/start/filterlist/{{@idtopass}}');

				</script>

			</true>
			<false>
				<script>


						$('input#livefilter').bind('input', function ()
						{
								var textfield = $(this);

								//code to hide/show "clear text field" box eliminated, etc


										if (textfield.val().length >= 1)
												$('div#certresults').load('{{@BASE}}/start/filterlist/all/' + encodeURIComponent(textfield.val()));
										else
												$('div#certresults').load('{{@BASE}}/start/filterlist/all');


						});
						$('div#certresults').load('{{@BASE}}/start/filterlist/all');

				</script>
			</false>
		</check>




		<script>
			$('#fillform .input-group.date').datepicker({
				format: "yyyy-mm-dd",
				weekStart: 1
			});
		</script>
