<repeat group="{{ @list }}" value="{{ @item }}">

  <check if="{{ @item.ident == @idtopass}}">
    <true>
      <div class="row certlist active" onclick="location.href='{{@BASE}}/certificates/fill/{{ @item.ident }}';" style="cursor:pointer;">
    </true>
    <false>
      <div class="row certlist" onclick="location.href='{{@BASE}}/certificates/fill/{{ @item.ident }}';" style="cursor:pointer;">
    </false>
  </check>
<exclude>
  <div class="col-md-1">
    #{{ @item.id }}
  </div>
</exclude>
  <div class="col-md-9">
    <b>{{ @item.ident }}</b>
    <br> {{ @item.title }}
  </div>

  <div class="col-md-1" >
    <h4><span class="badge">{{ @item.variations }}</span></h4>
  </div>


  <div class="col-md-1" style="text-align:right">
    <h4><span class="glyphicon glyphicon-play"></span></h4>
  </div>



  </div>

</repeat>
<div class="vspacer">
</div>
