<center><h1> {{ @html_title }}</h1></center>


<check if="{{ isset(@PARAMS.id) }}">
		<true>
<a href="{{@BASE}}/admin/user/edit/{{ isset(@POST.id)?(@POST.id):'' }}/pwchange"><button type="button" class="btn btn-warning btn-sm"><span class="glyphicon glyphicon-pencil"></span> Change Password</button></a>
		</true>
</check>
<p></p>
<form name="user" method="post" action="{{@BASE}}/admin/user/edit/{{ isset(@POST.id)?(@POST.id):'' }}"  autocomplete="off">

	<check if="{{ isset(@PARAMS.id) }}">
			<true>
	<label for='username'>Username: </label><br /><input class="form-control noAutoComplete" type="text" name="username" id="username" value="{{ isset(@POST.username)?(@POST.username):'' }}"  autocomplete="off" size="60" readonly/><br />
</true>
</check>


		<check if="{{ isset(@PARAMS.pwchange) }}">
		    <true>
		<label for='password'>Password: </label><br /><input class="form-control noAutoComplete" type="password" name="password" id="password" value="{{ isset(@POST.password)?(@POST.password):'' }}"  autocomplete="off" size="60"/><br />
				</true>
	</check>
	<check if="{{ isset(@PARAMS.id) }}">
			<false>
	<label for='password'>Password: </label><br /><input class="form-control noAutoComplete" type="password" name="password" id="password" value="{{ isset(@POST.password)?(@POST.password):'' }}" size="60"  autocomplete="off"/><br />
</false>
</check>


<div class="form-group"><label for='adminuser'><input class="" type="checkbox" name="adminuser" id="adminuser" value="1" {{ @tplCheckTrue(@POST.adminuser)? 'checked':''}} /> Adminuser</label></div>
	<input type="submit" value="Submit" class="btn btn-primary"/>
</form>


<script>
$(function() {
    $('.noAutoComplete').attr('autocomplete', 'off');
});
</script>
