<center><h1> {{ @html_title }}</h1></center>

<p><a href='{{@BASE}}/admin/user/add'<button type="button" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Add new User</button></a></p>
<div class="table-responsive">
<table class="table table-striped">
	<thead>
		<tr>
			<th>ID</th>
			<th>Username</th>
			<th>Admin?</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
	<repeat group="{{ @list }}" value="{{ @item }}">
		<tr>
			<td>{{ @item.id }}</td>
			<td>{{ @item.username }}</td>
			<td>{{@item.adminuser? '<span class="glyphicon glyphicon-ok"></span>':''}}</td>

			<td><a href="{{@BASE}}/admin/user/edit/{{ @item.id }}"><button type="button" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-pencil"></span> Edit</button></a>

			<a data-href="{{@BASE}}/admin/user/delete/{{ @item.id }}" data-toggle="modal" data-target="#confirm-delete"><button type="button" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove"></span> Delete</button></td>
		</tr>
	</repeat>
	</tbody>
</table>
</div>




<!-- Modal Dialog -->
<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
				<div class="modal-content">

						<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								<h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
						</div>

						<div class="modal-body">
								<p>You are about to delete one track, this procedure is irreversible.</p>
								<p>Do you want to proceed?</p>
								<p class="debug-url"></p>
						</div>

						<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
								<a class="btn btn-danger btn-ok">Delete</a>
						</div>
				</div>
		</div>
</div>

<!-- Dialog show event handler -->
<script type="text/javascript">
$('#confirm-delete').on('show.bs.modal', function(e) {
    $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
});

</script>
